@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  height: 100vh;

  .App {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    header {
      height: 80px;
    }

    main {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100vh;
      padding: 1em;
    }

    footer {
      height: 40px;
    }

    header,
    footer {
      padding: 0.5em;
      background-color: navy;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

button {
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 99px;
  font-weight: 500;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.85;
  }
  &[disabled] {
    &:hover {
      opacity: initial;
    }
    cursor: not-allowed;
  }
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

form {
  background-color: darkslateblue;
  border-radius: 12px;
  overflow: hidden;

  &.done {
    background-color: darkgreen;
  }

  fieldset {
    border: 0;
    padding-bottom: 16px;
    display: flex;

    > * {
      margin-right: 1em;
    }

    textarea {
      min-width: 100%;
    }

    &.title {
      background-color: slateblue;
      font-size: 2em;
      padding: 0.25em;
      min-height: 40px;

      input[type="checkbox"] {
        width: 30px;
        height: 30px;
      }

      input[type="text"] {
        flex: 1;
      }

      &.done {
        background-color: green;
      }
    }

    &.details {
      font-size: 1.5em;
      padding: 16px;
      border-bottom: 1px dotted black;
      min-height: 40px;

      p {
        margin: 0;
      }
    }

    &.dates {
      opacity: 0.6;
      font-size: 0.7em;
      padding-bottom: 8px;
    }

    &.buttons {
      button {
        min-width: 120px;
        padding: 0.5em;
        flex: 1;
      }
    }

    &.responsive {
      @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;

        button {
          margin-right: 0;
        }

        button ~ button {
          margin-top: 8px;
        }
      }
    }
  }
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.1s ease, mix-blend-mode 0.1s ease;

  &.loading {
    opacity: 0.75;
    mix-blend-mode: luminosity;
    pointer-events: none;
  }

  li {
    margin: 0;
    margin-bottom: 16px;
  }
}

.add-todo {
  padding: 1em;
  width: 100%;
  font-size: 1.2em;
}
